<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />
  <link rel="stylesheet" href="../../public/styles/footer.css" />
</head>
<footer id="footerId">
  <div class="article">
    <div class="left box">
      <div class="upper">
        <div class="topic">About us</div>
        <p id="alaz">
          Alazani is a georgian version of Amazon that aims to serve spread of
          georgian culture
        </p>
      </div>
      <div class="lower">
        <div class="topic">Contact</div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>+995 599 255 355</a>
        </div>
        <div class="email">
          <a href="#" onclick="sentEmail('Alazani@gmail.com')" ><i class="fas fa-envelope"></i>Alazani@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Our Services</div>
      <div><a href="#">Shipping</a></div>
      <div><a href="#">Selling</a></div>
    </div>
    <div class="right_box">
      <div class="topic" id="follow">Follow us</div>
      <form action="#">
        <div class="media-icons">
          <a href="https://www.facebook.com/Alazani-102135012525637"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/results?search_query=alazani"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2022 <a href="#">Alazani</a> All rights reserved</p>
  </div>
</footer>
<script src="../../public/js/footer.js"></script>