<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  nav {
    display: flex;
    width: 100%;
    background-color: #111;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;

  }

  nav .icon {
    font-size: 15px;
    cursor: pointer;
  }

  nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
  }

  nav ol li {
    margin: 0 2px;
  }

  nav ol li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
  }

  nav ol li a:hover {
    background-color: rgb(90, 90, 90);
  }

  nav .search_box {
    display: flex;
    margin: auto 0;
    height: 5%;
    line-height: 25px;
  }

  nav .search_box input{
    border: none;
    outline: none;
    background-color: rgb(62, 62, 62);
    color: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 1000px;
  }

  nav .bar {
    position: relative;
    margin: auto;
    display: none;
  }

  nav .bar span {
    position: absolute;
    color: white;
    font-size: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
  }

  @media screen and (max-width: 970px) {
    nav {
      display: block;
      padding: 0;
    }

    nav .icon {
      display: inline-block;
      padding: 15px 30px;
    }

    nav .search_box {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      margin-bottom: 15px;
    }

    nav .search_box input{
      width: 90%;
    }

    nav ol {
      display: flex;
      flex-direction: column;
      background: rgb(70, 70, 70);
      height: 0;
      visibility: hidden;
    }

    nav ol li {
      text-align: center;
    }

    nav ol li {
      color: black;
      font-size: 28px;
      padding: 5px;
      display: block;
    }

    nav .bar {
      display: block;
      position: absolute;
      top: 20px;
      right: 80px;
      cursor: pointer;
    }

    nav .bar #times {
      display: none;
    }

    #check:checked ~ nav .bar #times {
      display: block;
    }

    #check:checked ~ nav .bar #bars {
      display: none;
    }
    #check:checked ~ nav ol {
      visibility: visible;
      height: 135px;
    }

  }

  .as {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
.uls {
  display: inline;
  margin: 0;
  padding: 0;
}
.uls .lis {display: inline-block;}
.uls .lis:hover {background: #555;}
.uls .lis:hover .uls {display: block;}
.uls .lis .uls {
  position: absolute;
  width: 200px;
  display: none;
}
.uls .lis .uls .lis { 
  background: #555; 
  display: block; 
}
.uls .lis .uls .lis .as {display:block !important;} 
.uls .lis .uls .lis:hover {background: #666;}

</style>


<input type="checkbox" id="check">
<nav>
  <div class="icon">
    <img src="../../public/logo.jpg" alt="name" width="50" height="50" 
    onclick='(function(){ window.location = "/"; })();' ></img>
  </div>
  <div class="search_box">
    <input type="search" placeholder="item1,item2,...itemN : (from-to) price" id="searchbar">
  </div>
  <ol>
    <li>
      <ul class = "uls">
        <li class = "lis" >
          <a href="#" class = "as" >sort</a>
          <ul class = "uls" >
            <li class = "lis" ><a href="/priceascending" class = "as" >sort by price ascending</a></li>
            <li class = "lis" ><a href="/pricedescending" class = "as" >sort by price descending</a></li>
            <li class = "lis" ><a href="/priceaz" class = "as" >sort by a-z</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="lis" ><a class="as" href="/cart">Cart</a></li>
    <li class="lis" ><a class="as" href="#">Eng</a></li>
    <li class="lis" ><a class="as" href="/entry/signup" >Profile</a></li>
  </ol>

  <label for="check" class="bar">
    <span class="fa fa-bars" id="bars"></span>
    <span class="fa fa-times" id="times"></span>
  </label>
</nav>

