<head>
  <link rel="stylesheet" href="../../public/styles/header.css">
</head>
<input type="checkbox" id="check">
<nav>
  <div class="icon">
    <img src="../../public/logo.jpg" alt="name" width="50" height="50" 
    onclick='(function(){ window.location = "/"; })();' ></img>
  </div>
  <div class="search_box">
    <input type="search" placeholder="item 1,item 2,...item N : (from-to) price" id="searchbar">
  </div>
  <ol>
    <li>
      <ul class = "uls">
        <li class = "lis" >
          <a href="#" class = "as" >sort</a>
          <ul class = "uls" >
            <li class = "lis" ><a href="/priceascending" class = "as" >sort by price ascending</a></li>
            <li class = "lis" ><a href="/pricedescending" class = "as" >sort by price descending</a></li>
            <li class = "lis" ><a href="/priceaz" class = "as" >sort by a-z</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="lis" ><a class="as" href="/cart">Cart</a></li>
    <li class="lis" ><a class="as" href="/entry/signup" >Profile</a></li>
  </ol>

  <label for="check" class="bar">
    <span class="fa fa-bars" id="bars"></span>
    <span class="fa fa-times" id="times"></span>
  </label>
  <div id="google_translate_element"></div>
  <script src="../../public/js/header.js" ></script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</nav>

