<!DOCTYPE html>
<html>
  <head>
    <title>Alazani</title>
    </head>
    <body>
        <h1>You reached the end of the internet</h1>
        <p>
          one can only go back from there  
          <a href="/">go back</a> 
        </p>  
    </body>

</html>