<html>
    <body>
        <%- include("./partials/header.ejs")%>
        <div id="cartItemIds" ></div>
        <%- include("./partials/footer.ejs"); %>
        <script src="../public/js/cart.js" ></script>
    </body>
</html>