<html>
    <link rel="stylesheet" href="../public/styles/cart.css" >
    <body id="mainbody" >
        <%- include("./partials/header.ejs")%>     
        <div class="container">
            <div class="shopping-cart">
              <div class="shopping-cart-header">
                <i id="carticon" class="fa fa-shopping-cart cart-icon" ></i>
                <div class="shopping-cart-total">
                  <span class="lighter-text"></span>
                  <span class="main-color-text"></span>
                </div>
              </div>
                    <ul class="shopping-cart-item">

                    </ul>
                    <a  onclick="clearCart()" href="#" class="button1">Remove All</a>
                    <a href="https://glovoapp.com/"  class="button">Checkout</a>
                    
            </div>
        </div>
        <%- include("./partials/footer.ejs"); %>
        </body>
        
  <script src="../public/js/cart.js" ></script>
    </body>
</html>